<!--{% extends "base.html" %}-->

<!--{% block title %}About - MeteoHUB{% endblock %}-->

<!--{% block content %}-->
<!--<div class="about-page">-->

<!--    <h1>About MeteoHUB</h1>-->

<!--    <p>-->
<!--        MeteoHUB is an open data platform for weather monitoring and visualization.-->
<!--        It aggregates real-time meteorological data from multiple stations and presents-->
<!--        it in a unified, interactive interface.-->
<!--    </p>-->

<!--    <h2>Features</h2>-->
<!--    <ul>-->
<!--        <li>Real-time weather data visualization</li>-->
<!--        <li>Interactive maps</li>-->
<!--        <li>Time-series analytics</li>-->
<!--        <li>Multi-language support</li>-->
<!--    </ul>-->

<!--</div>-->
<!--{% endblock %}-->



<div style="width: 100%; height: 100%; position: relative; background: white; overflow: hidden">
    <img style="width: 1280px; height: 692px; left: 0px; top: 100px; position: absolute" src="https://placehold.co/1280x692" />
    <img style="width: 74px; height: 74px; left: 0px; top: 718px; position: absolute" src="https://placehold.co/74x74" />
    <div style="width: 82px; height: 82px; left: 1162px; top: 670px; position: absolute; background: #05315D; border-radius: 10px"></div>
    <img style="width: 82px; height: 82px; left: 1162px; top: 670px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); border-radius: 10px" src="https://placehold.co/82x82" />
    <div style="width: 26px; height: 26px; left: 1190px; top: 696px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 19.50px; height: 20.64px; left: 1193.25px; top: 698.17px; position: absolute; background: white"></div>
    <div style="left: 1182px; top: 719px; position: absolute; color: white; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Layers</div>
    <div style="width: 22px; height: 23px; left: 571px; top: 427px; position: absolute; background: white; border-radius: 200px"></div>
    <div style="left: 545px; top: 456px; position: absolute; text-align: center; color: #05315D; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Νέο <br/>Σιδηροχώρι</div>
    <div style="width: 15.04px; height: 15.04px; left: 574.51px; top: 429.51px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 13.79px; height: 10.03px; left: 575.14px; top: 432.01px; position: absolute; background: #05315D"></div>
    <div style="width: 1280px; height: 100px; left: 0px; top: 0px; position: absolute; background: #05315D"></div>
    <div style="left: 1214px; top: 49px; position: absolute; color: white; font-size: 14px; font-family: Lato; font-weight: 600; word-wrap: break-word">ΕΛ</div>
    <div style="width: 20px; height: 20px; left: 1192px; top: 48px; position: absolute; background: white"></div>
    <div style="width: 9.73px; height: 6px; left: 1234px; top: 55px; position: absolute; background: white"></div>
    <div style="left: 80px; top: 51px; position: absolute; color: white; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">PAMTH Weather Database </div>
    <div style="width: 159px; height: 33px; left: 79px; top: 19px; position: absolute"><span style="color: white; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">Meteo</span><span style="color: #2ADFFF; font-size: 32px; font-family: Inter; font-weight: 700; word-wrap: break-word">HUB</span></div>
    <div style="left: 1094px; top: 49px; position: absolute; color: white; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Διεπαφή</div>
    <div style="width: 12px; height: 9.75px; left: 1076px; top: 53.13px; position: absolute; background: white"></div>
    <div style="width: 20px; height: 20px; left: 1072px; top: 48px; position: absolute; border-radius: 9999px; border: 2px white solid"></div>
    <div style="left: 979px; top: 49px; position: absolute; color: white; font-size: 14px; font-family: Inter; font-weight: 600; word-wrap: break-word">Σχετικά</div>
    <div style="width: 20px; height: 20px; left: 957px; top: 48px; position: absolute; background: white"></div>
    <div style="width: 1280px; height: 692px; left: 0px; top: 100px; position: absolute; background: white"></div>
    <div style="left: 652px; top: 368px; position: absolute; color: #05315D; font-size: 20px; font-family: Inter; font-weight: 600; word-wrap: break-word">Ο ρόλος της ΠΑΜΘ</div>
    <img style="width: 82px; height: 82px; left: 652px; top: 240px; position: absolute" src="https://placehold.co/82x82" />
    <div style="left: 652px; top: 136px; position: absolute; color: #2ADFFF; font-size: 12px; font-family: Inter; font-weight: 700; text-transform: uppercase; word-wrap: break-word">Σχετικα με το εργο</div>
    <div style="width: 612px; height: 583px; left: 40px; top: 136px; position: absolute; overflow: hidden">
        <div style="width: 612px; height: 583px; left: 0px; top: 0px; position: absolute; background: white"></div>
        <div style="width: 165.61px; height: 98.73px; left: 258.21px; top: 52.22px; position: absolute; background: #79C374"></div>
        <div style="width: 132.37px; height: 108.41px; left: 152.63px; top: 77.43px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 78.23px; height: 79.93px; left: 101.11px; top: 111.37px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 78.13px; height: 100.13px; left: 59.04px; top: 154.23px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 176.77px; height: 87.35px; left: 120.21px; top: 165.25px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 89.19px; height: 156.62px; left: 23.94px; top: 188.72px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 90.86px; height: 125.56px; left: 98.40px; top: 237.81px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 182.37px; height: 93.05px; left: 134.09px; top: 231.04px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 65.83px; height: 173.36px; left: 217.63px; top: 296.81px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 112.38px; height: 120.49px; left: 143.21px; top: 310.61px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 115.63px; height: 178.01px; left: 332.22px; top: 176.67px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 303.08px; height: 181.84px; left: 284.46px; top: 320.74px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 154.34px; height: 59.85px; left: 251.93px; top: 478.85px; position: absolute; background: #D9D9D9"></div>
        <div style="width: 22.55px; height: 24.35px; left: 278.20px; top: 146.73px; position: absolute; background: #D9D9D9"></div>
        <img style="width: 57.70px; height: 77px; left: 297.10px; top: 24.57px; position: absolute" src="https://placehold.co/58x77" />
    </div>
    <div style="width: 592px; height: 56px; left: 652px; top: 151px; position: absolute; color: #05315D; font-size: 24px; font-family: Inter; font-weight: 600; word-wrap: break-word">DesirMED: Λύσεις βασισμένες στη φύση για την κλιματική ανθεκτικότητα στη Μεσόγειο</div>
    <img style="width: 82px; height: 82px; left: 652px; top: 674px; position: absolute" src="https://placehold.co/82x82" />
    <div style="width: 490px; left: 754px; top: 240px; position: absolute"><span style="color: #05315D; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Το </span><span style="color: #05315D; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">πρόγραμμα DesirMED </span><span style="color: #05315D; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">στοχεύει στην ενίσχυση της ανθεκτικότητας των μεσογειακών περιοχών απέναντι στην κλιματική αλλαγή, μέσα από τη χρήση λύσεων βασισμένων στη φύση (Nature-based Solutions), καινοτόμων τεχνολογιών και κοινωνικών πρακτικών.</span></div>
    <div style="width: 490px; left: 754px; top: 408px; position: absolute"><span style="color: #05315D; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">Η </span><span style="color: #05315D; font-size: 16px; font-family: Inter; font-weight: 600; word-wrap: break-word">Περιφέρεια Ανατολικής Μακεδονίας και Θράκης (ΠΑΜΘ) </span><span style="color: #05315D; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">συμμετέχει στο έργο με στόχο τη βελτίωση της πρόσβασης σε μετεωρολογικά και περιβαλλοντικά δεδομένα μέσω της ψηφιακής πλατφόρμας MeteoHub, ενισχύοντας έτσι τη λήψη τεκμηριωμένων αποφάσεων για τον πρωτογενή τομέα, την πολιτική προστασία και τους πολίτες.</span></div>
    <div style="width: 488px; left: 754px; top: 679px; position: absolute"><span style="color: black; font-size: 10px; font-family: Inter; font-weight: 600; word-wrap: break-word">Χρηματοδοτείται από την Ευρωπαϊκή Ένωση</span><span style="color: black; font-size: 10px; font-family: Inter; font-weight: 400; word-wrap: break-word">. Οι απόψεις και οι γνώμες που εκφράζονται ανήκουν αποκλειστικά στον/στους συγγραφέα/ες και δεν αντικατοπτρίζουν απαραίτητα εκείνες της Ευρωπαϊκής Ένωσης ή της Ευρωπαϊκής Εκτελεστικής Υπηρεσίας για το Κλίμα, τις Υποδομές και το Περιβάλλον (CINEA). Ούτε η Ευρωπαϊκή Ένωση ούτε η αρμόδια για τη χορηγία αρχή μπορούν να θεωρηθούν υπεύθυνες για αυτές.   </span><span style="color: black; font-size: 10px; font-family: Inter; font-weight: 600; word-wrap: break-word">Αριθμός Συμφωνίας Χρηματοδότησης: 101112972.</span></div>
    <div style="width: 592px; height: 0px; left: 652px; top: 657px; position: absolute; outline: 1px #05315D solid; outline-offset: -0.50px"></div>
    <div style="width: 82px; height: 82px; left: 652px; top: 408px; position: absolute; background: #05315D; border-radius: 100px"></div>
    <div style="width: 55.78px; height: 39.63px; left: 668px; top: 434.61px; position: absolute; background: white"></div>
    <div style="width: 7.12px; height: 19.13px; left: 663px; top: 453.65px; position: absolute; background: white"></div>
    <div style="width: 1.60px; height: 8.47px; left: 691.71px; top: 422px; position: absolute; background: white"></div>
    <div style="width: 26.01px; height: 21.84px; left: 695.54px; top: 452.42px; position: absolute; background: white"></div>
    <div style="width: 26.57px; height: 21.24px; left: 664.13px; top: 453.22px; position: absolute; background: white"></div>
    <div style="width: 10.41px; height: 13.18px; left: 679.91px; top: 438.10px; position: absolute; background: white"></div>
    <div style="width: 9.78px; height: 12.11px; left: 687.66px; top: 450.36px; position: absolute; background: white"></div>
    <div style="width: 15.77px; height: 2.30px; left: 685.54px; top: 474.70px; position: absolute; background: white"></div>
    <div style="width: 13.16px; height: 16.61px; left: 678.76px; top: 435.19px; position: absolute; background: white"></div>
    <div style="width: 13.66px; height: 18.39px; left: 673.55px; top: 455.84px; position: absolute; background: white"></div>
    <div style="width: 12.43px; height: 19.06px; left: 699.11px; top: 455.04px; position: absolute; background: white"></div>
    <div style="width: 6px; height: 5.16px; left: 669.73px; top: 462.03px; position: absolute; background: white"></div>
    <div style="width: 4.65px; height: 5.94px; left: 698.55px; top: 438.08px; position: absolute; background: white"></div>
    <div style="width: 7.22px; height: 3.04px; left: 671.24px; top: 456.85px; position: absolute; background: white"></div>
    <div style="width: 2.86px; height: 3.07px; left: 712.11px; top: 461.85px; position: absolute; background: white"></div>
    <div style="width: 5.22px; height: 4.16px; left: 685.32px; top: 432.07px; position: absolute; background: white"></div>
    <div style="width: 3.37px; height: 7.13px; left: 693.55px; top: 426.13px; position: absolute; background: white"></div>
    <div style="width: 2.51px; height: 6.45px; left: 692.81px; top: 423.97px; position: absolute; background: white"></div>
    <div style="width: 3.62px; height: 6.90px; left: 686.91px; top: 426.12px; position: absolute; background: white"></div>
    <div style="width: 4.58px; height: 4.44px; left: 694.15px; top: 431.76px; position: absolute; background: white"></div>
    <div style="width: 2.57px; height: 2.79px; left: 671.26px; top: 463.01px; position: absolute; background: white"></div>
    <div style="width: 8.78px; height: 3.62px; left: 697.01px; top: 444.73px; position: absolute; background: white"></div>
    <div style="width: 4.16px; height: 5.35px; left: 694.10px; top: 428.79px; position: absolute; background: white"></div>
    <div style="width: 2.08px; height: 5.14px; left: 710.30px; top: 461.40px; position: absolute; background: white"></div>
    <div style="width: 2.31px; height: 7.50px; left: 689.05px; top: 424.02px; position: absolute; background: white"></div>
    <div style="width: 4.32px; height: 4.71px; left: 685.89px; top: 429.40px; position: absolute; background: white"></div>
    <div style="width: 6.76px; height: 2.62px; left: 707.52px; top: 456.39px; position: absolute; background: white"></div>
    <div style="width: 1.37px; height: 4.49px; left: 705.92px; top: 460.65px; position: absolute; background: white"></div>
    <div style="width: 2.59px; height: 4.19px; left: 680.27px; top: 462.15px; position: absolute; background: white"></div>
    <div style="width: 2.25px; height: 1.74px; left: 684.17px; top: 441.88px; position: absolute; background: white"></div>
    <div style="width: 1.90px; height: 3.46px; left: 702.78px; top: 463.07px; position: absolute; background: white"></div>
    <div style="width: 2.04px; height: 1.29px; left: 691.21px; top: 436.13px; position: absolute; background: white"></div>
    <div style="width: 1.76px; height: 1.76px; left: 702.07px; top: 463.07px; position: absolute; background: white"></div>
    <div style="width: 1.92px; height: 1.64px; left: 675.12px; top: 470.74px; position: absolute; background: white"></div>
    <div style="width: 1.87px; height: 2.29px; left: 703.08px; top: 460.13px; position: absolute; background: white"></div>
    <div style="width: 0.92px; height: 2.07px; left: 680.27px; top: 464.89px; position: absolute; background: white"></div>
    <div style="width: 1.92px; height: 1.07px; left: 669.27px; top: 456.94px; position: absolute; background: white"></div>
    <div style="width: 1.42px; height: 1.17px; left: 668.97px; top: 458.43px; position: absolute; background: white"></div>
    <div style="width: 2.14px; height: 0.50px; left: 683.92px; top: 451.93px; position: absolute; background: white"></div>
    <div style="width: 0.47px; height: 1.72px; left: 704.82px; top: 464.22px; position: absolute; background: white"></div>
    <div style="width: 1.09px; height: 1.05px; left: 706.67px; top: 458.98px; position: absolute; background: white"></div>
    <div style="width: 1.04px; height: 1.22px; left: 683px; top: 463.72px; position: absolute; background: white"></div>
    <div style="width: 1.29px; height: 1.32px; left: 716.37px; top: 458.08px; position: absolute; background: white"></div>
    <div style="width: 1.17px; height: 1.62px; left: 696.44px; top: 439.72px; position: absolute; background: white"></div>
    <div style="width: 0.60px; height: 0.95px; left: 678.97px; top: 459.43px; position: absolute; background: white"></div>
    <div style="width: 20px; height: 20px; left: 1224px; top: 136px; position: absolute; background: #D9D9D9"></div>
    <div style="width: 11.67px; height: 11.67px; left: 1228.17px; top: 140.17px; position: absolute; background: #05315D"></div>
    <div style="width: 1280px; height: 40px; left: 0px; top: 792px; position: absolute; background: #05315D"></div>
    <div style="left: 535px; top: 803px; position: absolute; text-align: center; color: white; font-size: 12px; font-family: Inter; font-weight: 400; word-wrap: break-word">© 2025 MeteoHUB. All Rights Reserved.</div>
</div>