{% extends "base.html" %}

{% block title %}Map - MeteoHUB{% endblock %}

{% block head %}

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css">
{% endblock %}

{% block content %}
    <div class="map-container">
        <div id="map"></div>

        {% include "partials/weather_warning.html" %}

    </div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
<script src="/static/map.js"></script>
{% endblock %}